.image {
    display: block;
    line-height: 0;
    max-width: 100%;
    position: relative;
}

.image .frame {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}

.image .frame img {
    border-radius: 0 !important;
    max-width: 100%;
    vertical-align: top;
    width: inherit;
}

.image.full .frame {
    display: block;
}

.image.full:first-child .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


#image04 img,
#image05 img,
#videoContainer1 img,
#videoContainer2 img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
}


#image04 .frame img,
#image05 .frame img,
#videoContainer2 .frame img {
    transition: none;
}


#image04 .frame,
#image05 .frame,
#videoContainer1 .frame,
#videoContainer2 .frame {
    width: 100%;
    aspect-ratio: 16 / 10;
    height: auto;
    transition: none;
}

/* Profile image styling and position */
#image02 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

#image02 .frame img {
    height: 50%;
    width: 50%;
}

@media (max-width: 980px) {
    #image02 .frame img {
        height: 75%;
        width: 75%;
    }
}


@media (max-width: 480px) {
    #image02 .frame img {
        height: 100%;
        width: 100%;
    }
}

/* Ensuring video plays in proper width and height — matches non-video image aspect */

#videoContainer1 .frame,
#videoContainer2 .frame {
    width: 100%;
    aspect-ratio: 16 / 10;
    height: auto;
    transition: none;
}


@media (max-width: 480px) {
    #main > .inner {
        --spacing: 0rem;
    }
}


@media (max-width: 360px) {
    #main > .inner {
        --padding-horizontal: 1.5rem;
        --padding-vertical: 1.5rem;
        --spacing: 0rem;
    }
}



